.App {
  text-align: center;
  width: 800px;
  margin: auto;
 
}

.card{
  
  border-radius: 20px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.input-field{
  border: none;
border-radius: 5px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
margin: 10px;
font-size: 25px;
}



.btn{
  border: 0px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
}