body{
    background-color: rgba(122, 108, 108, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container{
    width: 300px;
    padding: 10px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  border-radius: 20px;

  }
  
  .todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

.todo-btn{
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.margin-text{
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.todo-header{
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#inp{
  border-radius: 50%;
}

#todoitem{

}